<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-custom-size">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Iniciar Sesión</h5>
        <button
          type="button"
          class="close custom-close-button"
          (click)="modalLoginService.closeModal()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formularioLogin" (ngSubmit)="iniciarSesion()">
          <div class="form-group">
            <label for="email">Email:</label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              required
            />
            <div
              *ngIf="
                formularioLogin.get('email')?.invalid &&
                formularioLogin.get('email')?.touched
              "
              class="text-danger"
            >
              <div *ngIf="formularioLogin.get('email')?.errors?.['required']">
                Email es requerido.
              </div>
              <div *ngIf="formularioLogin.get('email')?.errors?.['email']">
                Formato de email no válido.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="contrasena">Contraseña:</label>
            <div class="input-group">
              <input
                type="password"
                class="form-control"
                id="contrasena"
                formControlName="contrasena"
                required
              />
              <div class="input-group-append">
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  (click)="verContrasena('contrasena')"
                >
                  <i class="bi bi-eye"></i>
                </button>
              </div>
            </div>
            <div
              *ngIf="
                formularioLogin.get('contrasena')?.invalid &&
                formularioLogin.get('contrasena')?.touched
              "
              class="text-danger"
            >
              <div
                *ngIf="formularioLogin.get('contrasena')?.errors?.['required']"
              >
                Contraseña es requerida.
              </div>
              <div
                *ngIf="formularioLogin.get('contrasena')?.errors?.['minlength']"
              >
                Contraseña debe tener al menos 6 caracteres.
              </div>
            </div>
            <div class="text-right mt-2">
              <a (click)="abrirRecuperarContrasena()" class="registroEnlace">
                ¿Olvidaste tu contraseña?
              </a>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form>
        <div class="text-center mt-3">
          <a (click)="abrirRegistro()" class="registroEnlace">Registrarse</a>
        </div>
      </div>
    </div>
  </div>
</div>
