<div class="admin-container">
  <div class="admin-header">
    <h1>Bienvenido al Panel de Administración</h1>
    <p>
      Gestiona y supervisa todos los aspectos de Cookies40 desde este panel.
    </p>
  </div>

  <div class="admin-content">
    <div class="admin-card">
      <h2>Gestión de Stock</h2>
      <p>Administra el catálogo de ingredientes y añade stock de estos.</p>
    </div>
    <div class="admin-card">
      <h2>Gestión de Usuarios</h2>
      <p>Supervisa las cuentas de los usuarios y gestiona sus permisos.</p>
    </div>
  </div>
</div>
