body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: radial-gradient(circle, #fff5f5 60%, #e6a4b4 100%);
  font-family: 'Arial', sans-serif; /* Fuente limpia y moderna */
  color: #333; /* Color de texto oscuro para buena legibilidad */
}


.filtro {
  
  display: flex;
  align-items: center;
  margin-right: 1rem;
}


.filtro select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: #333; 
  background: linear-gradient(45deg, #ffffff, #f8f9fa);
  border: 2px solid #ff78c4; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  transition: all 0.3s ease;
  cursor: pointer;
  appearance: none; 
}


.filtro select:hover,
.filtro select:focus {
  background: linear-gradient(45deg, #ff78c4, #ff4aaa); 
  color: #fff; 
  border-color: #ff4aaa;
  outline: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


.filtro select option {
  background: #ffffff; 
  color: #333;
  padding: 0.5rem;
}

/* Responsividad */
@media (max-width: 768px) {
  .filtro select {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }
}
.menu-busqueda {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: radial-gradient(circle, #fff5f5 75%, #e6a4b4 100%);
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
}
/* Contenedor de la barra de búsqueda */
.barra-busqueda {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0;
  width: 100%;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

/* Input de búsqueda */
.barra-busqueda input {
  width: 100%;
  padding: 0.8rem 1rem;
  font-size: 1rem;
  border: 2px solid #ff78c4;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

/* Hover y focus del input */
.barra-busqueda input:hover,
.barra-busqueda input:focus {
  border-color: #ff4aaa;
  outline: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Icono de búsqueda */
.barra-busqueda .lupa-icon {
  position: absolute;
  right: 1rem;
  font-size: 1.5rem;
  color: #ff78c4;
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease;
}

/* Hover del icono */
.barra-busqueda .lupa-icon:hover {
  transform: scale(1.2);
  color: #ff4aaa;
}

/* Responsividad */
@media (max-width: 768px) {
  .barra-busqueda input {
    font-size: 0.9rem;
    padding: 0.6rem 0.8rem;
  }

  .barra-busqueda .lupa-icon {
    font-size: 1.2rem;
  }
}

.lupa-icon {
  font-size: 1.5rem;
  color: #672f14;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  overflow: hidden;
}

.lupa-icon:hover {
  transform: scale(1.2);
}


.btn-filtrar-ingredientes {
  background: linear-gradient(45deg, #ff4aaa, #ff78c4);
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  overflow: hidden;
}


.btn-filtrar-ingredientes:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  background: linear-gradient(45deg, #ff78c4, #ff4aaa);
}


.btn-filtrar-ingredientes:active {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


@media (max-width: 768px) {
  .btn-filtrar-ingredientes {
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
  }
}

/* fin menú busqueda */

.container {
  padding: 2% 2%;
}

.card {
  text-align: center;
  background-color: #E0908D;
  border: 5px solid transparent;
  margin-top: 3%;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  aspect-ratio: 1 / 1;
  display: flex;
  flex-direction: column;
  position: relative;
  filter: drop-shadow(3px 2px 27px #f231e259);

}


.card::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: linear-gradient(45deg, #fc60e2, #fadcd3, #ff71ecc0, #f4d8fa);
  background-size: 400% 400%;
  z-index: -1;
  filter: blur(10px);
  animation: gradientAnimation 10s ease infinite;
  border-radius: 12px;
}

.ribbon {
  position: absolute;
  right: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 90px;
  height: 90px;
  text-align: right;
}

.ribbon span {
  font-size: 14px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 120px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#DE7733 0%, #EDA73E 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 26px;
  right: -42px;
}

.ribbon span::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #EDA73E;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #EDA73E;
}

.ribbon span::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #EDA73E;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #EDA73E;
}

.ribbon.oferta span {
  background: linear-gradient(#ff4a4a 0%, #ff0000 100%);
  color: #fff;
  box-shadow: 0 3px 10px -5px rgba(255, 0, 0, 1);
}


.precio.precio-oferta {
  color: #ff0000 !important; 
  font-weight: bold;
  font-size: 1.3rem;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
}

.card-img-top {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.card-title{
  overflow: hidden;
}
.card-body {
  margin: 0% auto;
  height: 20%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(15px);
  flex: 1;
  border-radius: 50px;
}

.precio {
  font-size: 1.1rem;
  font-weight: bold;
  color: #672f14;
}

.icono-div {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-left: 0%;
}

.bi-cart-plus {
  font-size: 1.7rem;
  color: #672f14;
  transition: transform 0.3s ease;
  cursor: pointer;
  font-weight: bold;
  overflow: hidden;
}

.bi-eye{
  font-size: 1.7rem;
  color: #672f14;
  transition: transform 0.3s ease;
  cursor: pointer;
  font-weight: bold;
  overflow: hidden;
}

.icono-div:hover {
  transform: scale(1.1);
}

.bi-cart-plus:hover {
  transform: scale(1.1);
}

.swal-title{
  font-size: 0.8rem;
}
.swal-popup{
  background-color: #f3a1e5;
  border-radius: 20px;
  padding: 2rem;
  color: #b31b9acb;
  font-family: 'Arial', sans-serif;
}

.btn-primary {
  background-color: #ff4aaa;
  border-color: #ff4aaa;
  width: 40%;
  font-size: 2rem;
}

.btn-primary:hover {
  background-color: #ff78c4;
  border-color: #ff78c4;
}

.col-12.text-center button {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.col-12.text-center button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}


.mensaje-sin-productos {
  font-size: 1.9rem;
  color: #d80073;
  margin-top: 2rem;
}

/* Estilos para la navegación de paginación */
.navegacion-paginacion {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1rem;
  overflow: hidden;
}

.btn-navegacion {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  overflow: hidden;
  background: linear-gradient(45deg, #ff4aaa, #ff78c4);
}

.btn-navegacion i {
  font-size: 1.2rem;
}

.btn-navegacion:hover {
  background-color: #ff78c4;
  transform: scale(1.05);
}

/* Responsividad */
@media (max-width: 768px) {
  .btn-navegacion {
    font-size: 0.9rem;
    padding: 0.4rem 0.8rem;
  }

  .btn-navegacion i {
    font-size: 1rem;
  }
}