<div
  id="modalEditarUsuario"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalEditarUsuarioLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalEditarUsuarioLabel">Editar Usuario</h5>
        <button
          type="button"
          class="close custom-close-button"
          (click)="cerrarModal()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="usuarioForm">
          <div class="mb-3">
            <label for="nombre" class="form-label">Nombre:</label>
            <input
              id="nombre"
              formControlName="nombre"
              class="form-control"
              [class.is-invalid]="
                usuarioForm.get('nombre')?.invalid &&
                usuarioForm.get('nombre')?.touched
              "
            />
            <div
              class="invalid-feedback"
              *ngIf="
                usuarioForm.get('nombre')?.invalid &&
                usuarioForm.get('nombre')?.touched
              "
            >
              El nombre es obligatorio.
            </div>
          </div>
          <div class="mb-3">
            <label for="contrasena" class="form-label">Contraseña:</label>
            <div class="input-group">
              <input
                id="contrasena"
                type="password"
                formControlName="contrasena"
                class="form-control"
                [class.is-invalid]="
                  usuarioForm.get('contrasena')?.invalid &&
                  usuarioForm.get('contrasena')?.touched &&
                  usuarioForm.get('contrasena')?.value
                "
              />
              <div class="input-group-append">
                <button
                  type="button"
                  class="btn btn-outline-secondary"
                  (click)="verContrasena()"
                >
                  <i class="bi bi-eye"></i>
                </button>
              </div>
            </div>

            <!-- Requisitos de contraseña (solo se muestra si hay contenido) -->
            <div
              class="requisitos-password"
              *ngIf="usuarioForm.get('contrasena')?.value"
            >
              <p class="requisitos-titulo">La contraseña debe tener:</p>
              <ul>
                <li
                  [ngClass]="{
                    cumplido: verificarLongitudMinima('contrasena')
                  }"
                >
                  Al menos 8 caracteres
                </li>
                <li
                  [ngClass]="{
                    cumplido: verificarRequisito('contrasena', 'tieneMinuscula')
                  }"
                >
                  Al menos una letra minúscula
                </li>
                <li
                  [ngClass]="{
                    cumplido: verificarRequisito('contrasena', 'tieneMayuscula')
                  }"
                >
                  Al menos una letra mayúscula
                </li>
                <li
                  [ngClass]="{
                    cumplido: verificarRequisito('contrasena', 'tieneNumero')
                  }"
                >
                  Al menos un número
                </li>
              </ul>
            </div>

            <div
              class="invalid-feedback"
              *ngIf="
                usuarioForm.get('contrasena')?.invalid &&
                usuarioForm.get('contrasena')?.touched &&
                usuarioForm.get('contrasena')?.value
              "
            >
              La contraseña no cumple con los requisitos de seguridad.
            </div>

            <small class="form-text text-muted">
              Si quieres cambiar la contraseña, rellena este campo. Si no,
              déjalo vacío.
            </small>
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email:</label>
            <input
              [disabled]="true"
              id="email"
              type="email"
              formControlName="email"
              class="form-control"
              [class.is-invalid]="
                usuarioForm.get('email')?.invalid &&
                usuarioForm.get('email')?.touched
              "
            />
            <div
              class="invalid-feedback"
              *ngIf="
                usuarioForm.get('email')?.invalid &&
                usuarioForm.get('email')?.touched
              "
            >
              El email es obligatorio y debe ser válido.
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="cerrarModal()">
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-primary"
          [disabled]="usuarioForm.invalid"
          (click)="guardarCambios()"
        >
          Guardar Cambios
        </button>
      </div>
    </div>
  </div>
</div>
