<body>
  <div class="container mt-4">
    <h2>Lista de Ingredientes</h2>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let ingrediente">{{ ingrediente.id }}</td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let ingrediente">{{ ingrediente.nombre }}</td>
      </ng-container>

      <!-- Cantidad Column -->
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Cantidad</th>
        <td mat-cell *matCellDef="let ingrediente">
          {{ ingrediente.cantidad }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
    ></mat-paginator>
  </div>

  <div *ngIf="ingredientes.length > 0" class="container mt-4">
    <h3>Subir Archivo de Ingredientes</h3>
    <form (ngSubmit)="envioFichero()" #fileForm="ngForm">
      <div class="mb-3">
        <label for="fileInput" class="form-label">Seleccionar archivo</label>
        <input
          type="file"
          id="fileInput"
          class="form-control"
          (change)="cambioFichero($event)"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!selectedFile">
        Enviar
      </button>
    </form>
  </div>

  <div *ngIf="mostrarMensaje" class="alert alert-info mt-3" role="alert">
    {{ mensaje }}
  </div>
</body>
